meta(name="keywords",content="成都大学，校友互助，校园互助，互助")
meta(name="description",content="成都大学，校友互助，校园互助，互助，学生可以寻求帮互助，同学可以互相帮助")
link(rel="icon",href="/img/icon.png",type="image/x-icon")
link(href="/libs/bootstrap/dist/css/bootstrap.min.css",type="text/css",rel="stylesheet")
link(href="/css/index.css",type="text/css",rel="stylesheet")
link(href="/css/font-awesome.min.css",type="text/css",rel="stylesheet")
script(src="/libs/jquery/dist/jquery.min.js")
script(src="/libs/bootstrap/dist/js/bootstrap.min.js")