extends ../layout

block content
  .container.lost-found-publish
    .col-md-12
      p.notice-info.hide
      .seek-help
        form#lost_found.form-horizontal(action="/help/lost_and_found/publish",method="POST",enctype='multipart/form-data')
          .form-group
            label.control-label.col-md-3.text-right(for="lost_found_title") 标题
            .col-md-7
              input.form-control#lost_found_title(type="text" name="title")
          .form-group
            label.control-label.col-md-3.text-right(for="lost_found_content") 失物招领内容
            .col-md-7
              textarea#lost_found_content.form-control(cols="13" rows="16" name="content")
              input.help-add-img(type="file")
              span 添加图片
          .form-group
            label.control-label.col-md-3.text-right(for="coverImg") 添加封面图片
            .col-md-5
              input#coverImg(type="file" name="coverImg")
              span.add-coverImg 添加封片图片
          .form-group
            label.control-label.col-md-3.text-right(for="contact") 联系方式
            .col-md-7
              textarea#contact.form-control(cols="13" rows="4" name="contact",placeholder="电话，QQ，微信均可")
          .col-md-2.col-md-offset-10
            button#publish_btn.btn-lg.btn-success(type="submit") 发布
  script(src="/js/publish.js")
  script(src="/js/lost_found_publish.js")
  
  

